<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  <add key="URI" value ="https://api.github.com"/>
  <add key="LessPrivilegeBearerToken" value="Bearer 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"/>
  <add key="BearerToken" value="Bearer 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"/>
  <add key="resource" value ="/gists/9dfb49db668f43485982fec8ea1222fc"/>
   <add key="commentsResource" value ="/gists/9dfb49db668f43485982fec8ea1222fc/comments"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>